.barchart-container {
    width: 400px;
    height: 400px;
    background-color: #eee;
    padding: 2.5em;
    padding-top: 5em;
    margin-left: 3em;
    border-radius: 7px;
  }
.graph-header {
    display: none;
    color: #444;
    height: 48px;
    margin-bottom: 1em;
}
.graph-title {
    font-size: 2em;
    line-height: 48px;
    margin-left: 0.3em;
    vertical-align: top;
}
/*@media screen and (max-width: 1024px) {
	.barchart-container {
	    width: 320px;
	}
}*/